body {
  background-color: #f3f2f1;
  color: #2e4036;
}

main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  height: 120vh;
}

header img {
  position: absolute;
  right: 0;
  top: 10.86957vh;
  width: 80.43478vw;
  z-index: -1;
}

section {
  position: relative;
  height: 200vh;
}

section img {
  position: absolute;
  left: 0;
  bottom: 20.86957vh;
  width: 80.43478vw;
  z-index: -1;
}

h1 {
  position: absolute;
  z-index: 1;
  top: 20vw;
  left: 30.55556vw;
  font-size: 7.77778vw;
  line-height: 7.77778vw;
  letter-spacing: -0.30556vw;
  animation: header-load 3s ease-in-out;
}

h4 {
  position: absolute;
  bottom: 4vw;
  right: 5vw;
  font-size: 1.5rem;
  animation: scroll-load 3s ease-out;
}
ul {
  list-style: none;
}

li.nav-item {
  display: inline-block;
  margin-left: 10vw;
  letter-spacing: 0.3vw;
  animation: nav-load 2s ease-in-out;
}

a {
  color: #2e4036;
  text-decoration: none;
  transition: all 400ms ease-in-out;
}

a:hover {
  font-size: larger;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 3.38889vw;
}

.flex-item {
  text-align: center;
  font-size: 23px;
  animation: header-load 3s ease-in-out;
}

.nav-links {
  position: absolute;
  left: 3.38889vw;
  top: 60rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.line {
  border-bottom: 3px solid rgb(4, 66, 4);
  width: 50px;
}

.date-info {
  position: absolute;
  top: 3vw;
  left: 41.66667vw;
}

.rsvp-info {
  position: absolute;
  top: 20.11111vw;
  left: 62.5vw;
  max-width: 200px;
}

.venue-info {
  position: absolute;
  top: 40.11111vw;
  left: 32.5vw;
  max-width: 200px;
}

.dresscode-info {
  position: absolute;
  top: 60.11111vw;
  right: 12.5vw;
  max-width: 200px;
}
@keyframes header-load {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes nav-load {
  0% {
    transform: translateX(2000%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scroll-load {
  0% {
    transform: translateY(800%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media (max-width: 1000px) {
  header img {
    bottom: 500px;
    width: 80.43478vw;
  }

  h1 {
    top: 30vw;
  }
  .nav-links {
    top: 40rem;
  }
}

@media (max-width: 500px) {
  .flex-item {
    font-size: 16px;
  }
}
